.about {
  padding-bottom: 100px;
}

.about__title {
  margin-bottom: 50px;
}

.about__wrapper {
  display: flex;
  gap: 80px;
}

.about__img {
  width: 600px;
  min-height: 596px;
  background-image: url('..//img/about.jpg');
}

.about__content {
  width: 500px;
  height: 596px;
}

.about__text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 35px;
}

.about__text:last-of-type {
  margin-bottom: 70px;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote__text {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 55px;
  position: relative;
  margin-bottom: 40px;
}

.quote__text:before {
  content: "";
  background-image: url('../img/icons/quotes-left.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.quote__text:after {
  content: "";
  background-image: url('../img/icons/quotes-left.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 24px;
  transform: rotate(180deg);
}

.quote__span {
  display: block;
}

.quote__author {
  width: 390px;
  align-self: flex-end;
  display: flex;
  gap: 30px;
}

.quote__author p {
  width: 360px;
  font-size: 20px;
  line-height: 28px;
}