@import 'section-title.css';

.about__wrapper {
  display: grid;
  gap: 20px;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about__text {
  font-size: 12px;
  line-height: 16px;
}

.about__img img {
  width: 100%;
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quote__text {
  max-width: 280px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.quote__text:before {
  content: '';
  position: absolute;
  top: -5%;
  left: 0;
  width: 11px;
  height: 11px;
  background-image: url('../img/icons/quotes-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.quote__text:after {
  content: '';
  position: absolute;
  bottom: 13%;
  right: 41%;
  width: 11px;
  height: 11px;
  background-image: url('../img/icons/quotes-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}

.quote__author {  
  display: flex;
  align-items: center;
  gap: 10px;
}

.quote__img {
  width: 56px;
  height: 56px;
}

.quote__author p {  
  max-width: 175px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .about__wrapper {
    grid-template-columns: 1fr 278px;
    grid-template-rows: 1fr, min-content;
    gap: 30px;
    grid-template-areas: 
    "img content-text"
    "quote quote";
  }

  .about__content {
    grid-area: content-text;
    gap: 30px;
  }

  .about__text {
    font-size: 16px;
    line-height: 22px;
  }

  .about__img {
    grid-area: img;
  }     

  .about__quote {
    grid-area: quote;
  }

  .quote {
    max-width: 768px;
    margin: 0 auto;
    gap: 35px;
  }

  .quote__text {
    align-self: start;
    max-width: 570px;
    font-size: 32px;
    line-height: 36px;
  }

  .quote__text:before {
    top: -5%;
    left: 0;
    width: 16px;
    height: 16px;
  }

  .quote__text:after {
    bottom: 25%;
    right: 3%;
    width: 16px;
    height: 16px;
  }
  
  .quote__author {     
    align-self: end;
    gap: 25px;
  } 

  .quote__img {
    width: 70px;
    height: 70px;
  }

  .quote__author p { 
    max-width: 225px;
    font-size: 18px;
    line-height: 26px;
  }  
}

@media (min-width: 1024px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;
    column-gap: 40px;
    row-gap: 25px;
    grid-template-areas: 
    "img content-text"
    "img quote";
  }

  .about__text {
    font-size: 18px;
    line-height: 24px;
  }

  .quote {
    max-width: 444px;
    gap: 15px;
  }

  .quote__text:before {
    top: -5%;
    left: -3%;
    width: 16px;
    height: 16px;
  }

  .quote__text:after {
    bottom: 16%;
    right: 37%;
    width: 16px;
    height: 16px;
  }
  
  .quote__author {
    gap: 35px;
  } 
}

@media (min-width: 1440px) {
  .about__wrapper {
    column-gap: 80px;
    row-gap: 50px;
  }

  .about__text {
    font-size: 20px;
    line-height: 28px;
  }

  .quote {
    max-width: 500px;
    gap: 40px;
  }

  .quote__text {
    font-size: 44px;
    line-height: 50px;
  }

  .quote__span {
    display: block;
  }

  .quote__text:before {
    top: -3%;
    left: -2%;
    width: 22px;
    height: 22px;
  }

  .quote__text:after {
    bottom: 11%;
    right: 26%;
    width: 22px;
    height: 22px;
  }
  
  .quote__author {     
    gap: 30px;
  } 

  .quote__img {
    width: 80px;
    height: 80px;
  } 
}