.booking {
  background-color: #440F51;
}

.form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

fieldset {
  border: none;
  padding: 0;
}

.form__radio-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 14px;
  justify-content: center;
  margin-bottom: 30px;
}

.form__radio-label { 
  display: block;
  padding: 6px 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 3px solid transparent; 
  border-radius: 4px;
  cursor: pointer;
}

.form__radio-input {
  display: none;
}

.form__radio-input:checked + .form__radio-label {
  background: #2a0335;
  color: var(--white-color);
}
/* .form__radio-box */

.form__check-box .form__title {
  text-align: left;
}

.form__check-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.form__check-box-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 18px;
}
/* .form__check-box */

.form__btn {
  display: block;
  color: var(--dark-purple-color);
  background-color: var(--white-color);
  font-size: 18px;
  line-height: 26px;
  padding: 17px 56px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid transparent;
  outline: none;
}

.form__columns {
  max-width: 280px;
  margin: 0 auto;
}

.form__column-list_date {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.form__column-row-item {
  display: flex;
  gap: 12px;
}

.form__column-item {
  width: 100%;
}

.form__column-list-box {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 35px;
}

.form__column-list_gap {
  display: flex;
  flex-direction: column;
  gap: 15px;  
}

.form__column-row-input {
  width: 134px;
  height: 52px;
  padding: 10px;
  color: var(--black-color);
}

.form__column-input {
  width: 280px;
  height: 52px;
  padding: 0 20px;
  outline: none;
  border: 2px solid transparent;
}

.form__column-label-text {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 6px;
}

@media (min-width: 480px) {
  .form__radio-label {
    padding: 9px 30px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
  }

  .form__check-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 49px;
    row-gap: 35px;
  }

  .form__check-box-item {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  .form__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .form__radio-box {
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    gap: 29px;
    justify-content: space-between;
  }

  .form__check-box {
    justify-content: center;
  }  

  .btn__box {
    max-width: 688px;
    margin: 0 auto;
  }

  .form__btn {
    font-size: 22px;
    line-height: 28px;
    padding: 16px 37px;
    margin-right: 10px;
  }

  .form__columns {
    max-width: 688px;
  }

  .form__column-list_date {
    display: flex;
    flex-direction: row;
    gap: 106px;
    margin-bottom: 42px;
  }

  .form__column-row-item {
    gap: 14px;
  }

  .form__column-row-input {
    width: 134px;
  }

  .form__column-list-box {
    display: flex;
    flex-direction: row;
    gap: 106px;
    margin-bottom: 35px;
  }  
}

@media (min-width: 1024px) {
  .form__radio-label {
    padding: 15px 40px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
  }

  .form__radio-label:hover {
    background-color: var(--light-white-color);
    border-color: #640AA3; 
  }
  
  .form__radio-label:focus {
    color: #000;
    background-color: var(--white-color);
    border: 3px solid #640AA3; 
  }
  
  .form__radio-label:active {
    color: #fff;
    background-color: var(--dark-purple-color);
    border-color: var(--white-color); 
  }

  .form__check-box {
    gap: 100px;
  }

  .form__checkbox-input:focus {
    outline: 1px solid var(--light-purple-color);
  }

  .btn__box {
    max-width: 964px;
  }

  .form__btn {    
    transition: all .2s ease;
    margin-right: -10px;
  }
  
  .form__btn:hover {
    background-color: var(--light-white-color);
    border-color: #6C0287;
  }
  
  .form__btn:focus {
    background-color: var(--white-color);
    border-color: var(--dark-purple-color);
  }
  
  .form__btn:active {
    background-color: var(--light-white-color);
    border-color: transparent;
  }

  .form__columns {
    max-width: 904px;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .form__column-list_date {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .form__column-row-item {
    margin-top: 30px;
  }

  .form__column-list-box {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 35px;
  }

  .form__column-input:focus {
    border-color: var(--light-purple-color);
  }

  .form__column-row-input:focus {
    outline: 2px solid var(--light-purple-color);
  }
  
  .form__column-input_number::placeholder {
    color: var(--black-color);
  }
}

@media (min-width: 1440px) {
  .form__title {
    margin-bottom: 40px;
  }

  .form__radio-label {
    padding: 10px 40px;
    font-size: 30px;
    line-height: 40px;
  }
}