.contacts {
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}
.contacts__title {
  margin-bottom: 55px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  margin-bottom: 40px;
}

.contacts__item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 60px;
}

.contacts__item:first-child {
  margin-bottom: 40px;
}

.contacts__item_location {
  background-image: url('../img/icons/location.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__item_phone {
  background-image: url('../img/icons/phone.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__item_email {
  background-image: url('../img/icons/mail.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.social-media {
  display: flex;
  gap: 26px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.contacts__map {
  width: 100%;
  max-width: 680px;
  min-height: 272px;
  background-image: url('../img/map.jpg');
}

.copyright__list {
  display: flex;
  justify-content: space-between;
}
.copyright__item {
  max-width: 250px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}