.first-screen {
  height: 823px;
  margin-top: 146px;
  margin-bottom: 100px;
  position: relative;
}

.first-screen:after {
  content: url('../img/banner.png');
  position: absolute;
  right: 0;
  bottom: 0;
}

.first-screen__title {
  font-size: 150px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.first-screen__subtitle {
  font-size: 28px;
  padding-left: 100px;
}
