.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
}

.halls__item {
  display: inline-block;
  width: 580px;
  height: 349px;  
  text-align: center;
  line-height: 349px;
} 

.halls__item:not(:nth-child(2n)) {
  margin-right: 15px;
}

.halls__item:not(:nth-child(-2n)) {
  margin-bottom: 20px;
}

.halls__link {
  display: block;
  height: 100%;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.halls__link_vibe {
  background-image: url('../img/vibes.jpg');
}

.halls__link_wars {
  background-image: url('../img/star-wars.jpg');
}

.halls__link_west {
  background-image: url('../img/wild-west.jpg');
}

.halls__link_neon {
  background-image: url('../img/neon-style.jpg');
}