@import 'section-title.css';

.page__back {
  margin-top: 20px;
  margin-bottom: 15px;
}

.page__back-link {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.page__back-link img {
  width: 18px;
}

.banner {
  min-height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
}

.banner__vibes {  
  background-image: url('../img/halls/slot-machines.jpg');
}
.banner_starwars {  
  background-image: url('../img/halls/dartvider.jpg');
}

.banner_wildwest {
  background-image: url('../img/halls/hotel.jpg');
}

.banner_neonstyle {
  background-image: url('../img/halls/neon-machines.jpg');
}

.banner__info {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.page__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}

.what-have__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.what-have__copy {
  font-size: 12px;
  line-height: 16px;
}

.what-have__copy:not(:last-child) {
  margin-bottom: 20px;
}

.other-rooms__link {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.other-rooms__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 61px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.other-rooms__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 768px) {
  .page__back {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .page__back-link {
    font-size: 16px;
    line-height: 20px;
    gap: 10px;
  }
  
  .page__back-link img {
    width: 30px;
  }
  
  .banner {
    min-height: 402px;
  }
  
  .banner__info {
    font-size: 60px;
    line-height: 72px;
  }

  .page__text {
    max-width: 688px;
    margin: 0 auto;
    padding: 30px 0;
  }
  
  .what-have__wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 46px;
  }
  
  .what-have__img {
    width: 329px;
    height: 326px;
  }

  .what-have__info {
    max-width: 313px;
  }

  .what-have__copy {
    font-size: 16px;
    line-height: 28px;
  }
  
  .what-have__copy:not(:last-child) {
    margin-bottom: 30px;
  }
  .other-rooms__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
  }
}

@media (min-width: 1024px) {
  .page__back {
    margin-top: 50px;
  }
  
  .page__back-link {
    font-size: 22px;
  }
  
  .banner {
    min-height: 534px;
  }
  
  .banner__info {
    font-size: 90px;
  }

  .page__text {
    max-width: 800px;
    font-size: 20px;
    line-height: 30px;
    padding: 35px 0;
  }
  
  .what-have__wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  .other-rooms__item {
    transition: transform .2s ease-in-out;
  }

  .other-rooms__item:hover {
    transform: scale(1.1);
  }
  
  .what-have__img {
    width: 461px;
  }

  .what-have__info {
    max-width: 413px;
  }

  .what-have__copy {
    font-size: 18px;
  }
  .other-rooms__list {
    gap: 20px;
  }

  .other-rooms__description {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 1440px) {
  .page__back {
    margin-top: 60px;
  }
  .banner {
    min-height: 750px;
  }

  .page__text {
    max-width: 1000px;
    font-size: 24px;
    line-height: 36px;
    padding: 50px 0;
  }
  
  .what-have__wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
  }
  
  .what-have__img {
    width: 600px;
    height: 424px;
  }

  .what-have__info {
    max-width: 500px;
  }

  .what-have__copy {
    font-size: 20px;
    line-height: 28px;
  }
}