.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  width: 39px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.header__logo {
  width: 66px;
  height: 42px;
}

.header__nav {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 99;
  background-color: var(--bg-color);
  width: 100%;
  transform: translateX(-150%);
  transition: all 1.5s ease;
}

.header__nav.active {
  transform: translateX(0);
}

.header__item {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid var(--light-purple-color);
}

.header__order {
  display: none;
}

@media (min-width: 768px) {
  .header__nav { 
    top: 100px;
  }
  .header__burger {
    width: 54px;
    height: 29px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__order {
    display: block;
    font-size: 18px;
    line-height: 24px;    
    padding: 11px 26px;
    outline: 3px solid var(--light-purple-color);
  }
}

@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }

  .header__nav {
    position: static;
    background-color: transparent;
    width: auto;
    transform: translateX(0);
  }

  .header__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__item {
    border-bottom: none;
  }

  .header__link {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    transition: all .2s ease-in;
    outline: none;
  }

  .header__link:hover {
    color: var(--light-purple-color);
  }
  
  .header__link:focus {
    outline: 1px solid var(--light-purple-color);
    outline-offset: 5px;
    border-radius: 5px;
  }
  
  .header__link:active {
    color: var(--white-color);
  }

  .header__order {
    transition: all .2s ease-in;
  }

  .header__order:hover {
    background-color: var(--dark-purple-color);
    outline-color: var(--dark-purple-color);
  }
  
  .header__order:focus {
    background-color: var(--dark-purple-color);
    outline-color: var(--dark-purple-color);
  }
  
  .header__order:active {
    background-color: var(--dark-purple-color);
    outline-width: 1px;
    outline-color: var(--black-color);
  }
}

@media (min-width: 1440px) {
  .header__logo {
    width: 120px;
    height: 66px;
  }

  .header__list {
    gap:40px;
  }
  .header__link {
    font-size: 22px;
    line-height: 50px;
  }

  .header__order {
    font-size: 22px;
    line-height: 30px;    
    padding: 13px 32px;
  }
}